body{
    font-weight: bold;
    margin: 2rem;
}
h3{
    font-weight: 100;
    color: #555;
    margin: 0.4rem 0;
    text-align: center;
}
svg{
    border: 1px solid #ccc;
}

h2{
    text-align: center;
}
button{
    outline: none;
    color: #555;
    border-color: #eee;
    background: #fefefe;
    padding: 3px 0px;
    width: 48px;
    text-align: center;
    transition: all 200ms;
}
button:hover{
    background: lightgoldenrodyellow;
}
button:focus{
    background: lightpink;
}
